POSTGRES_PASSWORD=your_postgres_password
POSTGRES_USERNAME=your_postgres_username
JWT_SECRET_KEY=your_jwt_secret_key
FRONTEND_ORIGIN=https://example.com

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret



